.content2_containers{
    padding: 0;
    max-width: 48rem;
    margin: 0 auto;
    background-color: var(--seed-semantic-color-paper-default);
    color: var(--seed-scale-color-gray-900);
    display: block;
}

.content2_container{
    line-height: 1.38;
    font-size: 1.625rem;
    margin: 3.75rem 0 2.5rem;
    font-weight: 700;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content2_container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.content2_container2{
    padding-top: 0;
    padding: 1.25rem 0;
    flex-basis: 48%;
    display: block;
}
