@media screen and (min-width: 768px){
    .content1_containers {
        height: 19.6875rem;
        position: relative;
        width: 100%;
        background: #D2EDFA;
        overflow: hidden;
        display: block;
    }
}

.content1_container{
    padding: 3rem 1rem 0;
    color: var(--seed-scale-color-gray-900);
    margin: 0 auto;
    max-width: 48rem;
    overflow: hidden;
    display: block;
}

.content1_container1{
    display: block;
}


.content1_container2{
    line-height: 1.5;
    font-size: 2rem;
    color: var(--seed-static-color-static-gray-900);
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content1_container3{
    line-height: 1.32;
    font-size: 1.125rem;
    display: block;
    margin: 1rem 0 0;
    color: var(--seed-static-color-static-gray-900);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content1_container4{
    left: 50%;
    right: 0;
    width: 30.3125rem;
    height: 16.875rem;
    transform: translateX(0);
    position: absolute;
    bottom: 0;
    display: block;
}

.content1_container5{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content1_container6{
    width:485px;
    height:270px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}