.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.container_item {
    background-color: #eaeaea;
    padding: 10px;
}
