

.carousel {
  width:100%;
  height:100%;
  animation: slide 0.1s infinite;
  
}

.carousel-inner {
  width: 1100px;
  height: 300px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}


.content1_flexContainer{
display:flex;
height:160px;

}

.content1_container1{
width: 80%;
height: 200px;
left:200px;
position: relative;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
color:white;
background-color: black;
}

.content1_container2{
padding-left: 15px;
padding-right: 15px;
width: 25%;
position: relative;
float: left;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
background:#ffffff
}

.content_container3{
margin-left: -15px;
margin-right: -15px;
position: relative;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
color:white;
background-color: black;
}

.content_container4{
margin: 0;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.content_container5{
margin: 0;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.content_text1{
font-size: 20px;
letter-spacing: -1px;
line-height: 1.2 !important;
position:relative;
margin-left:15px;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
color:white;
background-color: black;
}

.content_text2{
color: rgb(4, 98, 65);
left:0;
font-size: 34px;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text3{
color: rgb(75, 75, 75);
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text4{
font-size: 20px;
letter-spacing: -1px;
line-height: 1.2 !important;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
position:relative;
margin-left:15px;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text5{
color: rgb(4, 98, 65);
font-size: 34px;
letter-spacing: -1px;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text6{
color: rgb(75, 75, 75);
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content1_container6{
padding-left: 15px;
padding-right: 15px;
width: 25%;
position: relative;
float: left;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
background:#7ffa04
}

.content_container7{
margin-left: -15px;
margin-right: -15px;
position: relative;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_container8{
margin: 0;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.content_container9{
margin: 0;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.content1_container10{
padding-left: 15px;
padding-right: 15px;
width: 25%;
position: relative;
float: left;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_container11{
margin-left: -15px;
margin-right: -15px;
top:-30px;
position: relative;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_text7{
font-size: 18px;
line-height: 1.2 !important;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text8{
font-size: 14px;
color: rgb(130, 130, 130);
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content1_image1{
width: 50px;
position:relative;
top:20px;
}

.content1_image2{
width: 50px;
position:relative;
top:48px;
}

.content_container12{
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_text9{
font-size: 18px;
line-height: 1.2 !important;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text10{
font-size: 14px;
color: rgb(130, 130, 130);
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content1_container13{
padding-left: 15px;
padding-right: 15px;
width: 25%;
position: relative;
float: left;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_container11{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
padding:10px;
position: relative;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_text11{
font-size: 18px;
line-height: 1.2 !important;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text12{
font-size: 14px;
color: rgb(130, 130, 130);
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_container14{
margin-left: -15px;
margin-right: -15px;
position: relative;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
}

.content_text13{
font-size: 18px;
line-height: 1.2 !important;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content_text14{
font-size: 14px;
color: rgb(130, 130, 130);
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
}

.content1_blank{
display:block;
width:150px;
height:200px;
}

.content1_blank2{
display:block;
width:50px;
height:200px;
top:50px;
}



.content1_userwrap {
position: relative;
}

.image_text_overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border-radius: 5px;

}

.content1_image10{
width:100%;
height:270px;
opacity:1;
filter:brightness(50%);
}

.image_text_overlay{
line-height: 1.5;
margin: 0px;
border-width: 0px;
border-style: solid;
border-color: rgb(229, 231, 235);
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
top:120px;
left:200px;
padding:0;
z-index:1;
}

.content1_text10{
letter-spacing: -0.7px;
color: rgb(255, 255, 255);
font-size: 14px;
border-width: 0px;
border-style: solid;
border-color: rgb(229, 231, 235);
box-sizing: border-box;
line-height: 1.5;
font-weight: 900;
margin:10px;
margin-left:210px;
}

.content1_container20 {
display: flex;
justify-content: center; 
align-items: center; 
background-color: rgb(37, 107, 7);
height:50px;
}

.content_text15 {
color:#fff;
}

.content1_container120{
width: 100%;
padding-left: 20px;
padding-right: 20px;
margin-right: auto;
margin-left: auto;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / .5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
box-sizing: border-box;
display: block;
}

.content1_container220{
width: 100%;
padding-left: 20px;
padding-right: 20px;
margin-right: auto;
margin-left: auto;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / .5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
box-sizing: border-box;
display: block;
}

.content1_container320{
margin-right: -20px;
margin-left: -20px;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / .5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
box-sizing: border-box;
display: block;
}

.content1_container520{
padding-left: 15px;
padding-right: 15px;
position: relative;
min-height: 1px;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / .5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
box-sizing: border-box;
display: block;
}


.content1_container620 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}


.content1_text120{
font-size: 30px;
margin-bottom: 50px;
text-align: center;
border-width: 0;
border-style: solid;
border-color: #a2a3a5;
line-height: 1.3;
font-weight: bold;
font-family: 'Nexon Gothic', 'Malgun Gothic', Sans-Serif;
-webkit-font-smoothing: antialiased;
margin-top: 20px;
color: white;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / .5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}


.content1_brand1{
  width:100px;
  height:100px;
}

.content1_recommend1{
display:block;
box-sizing: border-box;
height: 300px;
width:100%;
}

.content1_recommend2{
display:block;
box-sizing: border-box;
margin-left:470px;
}



.content1_toplist1{
font-size: 20px;
margin-bottom: 50px;
left:100px;
border-style: solid;
border-color: #a2a3a5;
line-height: 1.3;
font-weight: bold;
font-family: 'Nexon Gothic', 'Malgun Gothic', Sans-Serif;
-webkit-font-smoothing: antialiased;
margin-top: 20px;
color: white;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scroll-snap-strictness: proximity;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / .5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
box-sizing: border-box;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.content1_listimage1{
width:90px;
height:130px;
}

.content1_recommend3{
display:block;
display:flex;
top:50px;
margin-left:300px;
}

.content1_recommend4{
display:block;
border-bottom: 1px solid #EAEAEA;
display:flex;
padding-right:43px;
}

.content1_toptext1{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext2{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: white; 
top:45px;
}

.content1_list2{
display:block;
}

.content1_recommend5{
display:block;
display:flex;
top:50px;
margin-left:300px;
}

.content1_recommend6{
display:block;
border-bottom: 1px solid #EAEAEA;
display:flex;
padding-right:40px;
}

.content1_listimage2{
width:90px;
height:130px;
}

.content1_toptext3{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext4{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}




.content1_rankimage1{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 50px;
}

.content1_ranknumber1{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 40px;
color:white;
}

.content1_rankimage2{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 50px;
}

.content1_ranknumber2{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 40px;
}

.content1_toptext5{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_toptext6{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
}

.content1_recommend7{
display:block;
display:flex;
top:1100px;
margin-left:830px;
position:absolute;
}

.content1_firstbox{
display:block;
}

.content1_secondbox{
display:block;
}

.content1_toptext5{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext6{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}


.content1_recommend8{
display:block;
display:flex;
top:1180px;
margin-left:830px;
position:absolute;
}

.content1_rankimage3{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 122px;
}

.content1_ranknumber3{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 116px;
}

.content1_rankimage4{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 64px;
}

.content1_ranknumber4{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 58px;
}

.content1_toptext7{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext8{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_rankimage5{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 109px;
}

.content1_ranknumber5{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 103px;
}

.content1_recommend9{
display:block;
display:flex;
top:1260px;
margin-left:830px;
position:absolute;
}

.content1_recommend10{
display:block;
display:flex;
top:1340px;
margin-left:830px;
position:absolute;
}

.content1_toptext9{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext10{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_rankimage6{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 10px;
}

.content1_ranknumber6{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 5px;
}


.content1_toptext11{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext12{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_toptext13{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext14{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_toptext15{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext16{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_toptext17{
color:red;
justify-content: center;
position:relative;
font-size: 25px;
color: red;
top:40px;
}

.content1_toptext18{
color:black;
justify-content: center;
position:relative;
font-size: 20px;
color: black; 
top:45px;
}

.content1_rankimage7{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 30px;
}

.content1_ranknumber7{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 30px;
}

.content1_rankimage8{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 55px;
}

.content1_ranknumber8{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 55px;
}

.content1_rankimage9{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 65px;
}

.content1_ranknumber9{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 60px;
}

.content1_rankimage10{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 55px;
}

.content1_ranknumber10{
width:20px;
height:10px;
top: 85px;
position:relative;
left: 55px;
}

.content1_recommend11{
display:block;
display:flex;
top:-240px;
margin-left:400px;
position:absolute;
width:350px;
}

.content1_recommend12{
display:block;
display:flex;
top:-160px;
margin-left:400px;
position:absolute;
width:350px;
}

.content1_recommend13{
display:block;
display:flex;
top:-80px;
margin-left:400px;
position:absolute;
width:350px;
}

.content1_recommend14{
display:block;
display:flex;
top:-3px;
margin-left:400px;
position:absolute;
width:350px;
}

.content1_beWhyrequest{
  display:block;
  display:flex;
  margin-left: 470px;
}

.content1_bewhyimage1{
  width:250px;
  height:300px;
  border-radius: 20%;
}

.content1_bewhyblank{
  display:block;
  width:75px;
  height:200px;
}


.slideImage{
  padding-left:50px;
  padding-right:50px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:0cm;
  margin-left:100px;
}



.content1_listimage1{
  left:0;
  display:block;
  position:relative;
  top:40px;
  border-color: white;
}

.content1_toptext1{
  left:120px;
  position:relative;
  top:-70px;
}

.content1_toptext2{
  left:150px;
  position:relative;
  top:-102px;
}

.content1_rankimage1{
  left:420px;
  display:block;
  position:relative;
  top:-60px;
}

.content1_ranknumber1{
  left:460px;
  display:block;
  position:relative;
  top:-77px;
}



.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  width: 100%;
}

.carouselSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px; 
  height: 100%; 
  position: relative;
  
}

.dataBundle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px; 
  
}

.dataBundleItem {
  display: flex;
  display:block;
  height:350px;
  width:420px;
  align-items: center;
  text-align: center;
  max-width: calc(33.33% - 20px); 
  border: 2px solid #ccc; 
  padding: 40px; 
  text-align: center;
  border: 2px solid #ccc; 
  position: relative; 
  
}

.carouselImage {
  width: 150px; 
  height: 200px;
  margin-bottom: 10px; 
}

h6 {
  margin: 5px 0;
}

.dataBundleText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 5px 0;
  height:100px;
  text-align: center;
}

.booktitle{
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 23px;
  display: -webkit-box;
  max-height: 42px;
  white-space: normal;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
  color: white;
  letter-spacing: -0.2px;
}

.carouselContent{
  width:1100px;
  height:420px;
}


body{
  background-color: black;
}

.content1_brandRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px; /* Adjust this value as needed */
}

.content1_brand1 {
  flex-basis: calc(25% - 10px); /* Four images per line */
  margin: 0px; /* Adjust this value to reduce spacing */
}

.slide_image {
  display: block;
  margin: 0 auto; /* Center horizontally */
  max-width: 100%; /* Ensure the image doesn't exceed the slide width */
  height: 700px; /* Maintain the aspect ratio of the image */
}

.adjustedIndicator {
  bottom: 100px; /* Adjust the distance from the bottom as needed */
  /* You can also use 'top', 'left', 'right', and other positioning properties */
}

.slide_images{
  display:block;
  height:300px;
  width:300px;
}

