.container1 {
    background-color: rgb(255, 255, 255);
}

.topmenu {
    justify-content: center;
    display:flex;
  }

  .btngroup {
    background-color: #ffffff;
    justify-content: center;
    display:flex;
  }
  

  .btngroup button {
    background-color: rgb(255, 255, 255);
    color: rgb(27, 160, 243);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    justify-content: center;
    border-color:rgb(27, 160, 243);
  }
  

  .dropdown-menu {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    color: #333;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
  }
  

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }



  .containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  .container {
    height: 100%;

  }
  
  .carousel {
    width:100%;
    height:100%;
    animation: slide 0.1s infinite;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }
  
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}


.content1_flexContainer{
  display:flex;
  height:160px;
}

.content1_container1{
  justify-content: center;
  width: 100%;
  height: 200px;
  position: relative;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  background:#ffffff
}

.content1_container2{
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  position: relative;
  float: left;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  background:#ffffff
}

.content_container3{
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  background:#ffffff
}

.content_container4{
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content_container5{
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content_text1{
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1.2 !important;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  position:relative;
  margin-left:15px;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text2{
  color: rgb(4, 98, 65);
  left:0;
  font-size: 34px;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text3{
  color: rgb(75, 75, 75);
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text4{
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1.2 !important;
  border-style: solid;
  border-color: #e5e7eb;
  position:relative;
  margin-left:15px;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text5{
  color: rgb(4, 98, 65);
  font-size: 34px;
  letter-spacing: -1px;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text6{
  color: rgb(75, 75, 75);
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content1_container6{
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  position: relative;
  float: left;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  background:#7ffa04
}

.content_container7{
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_container8{
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.content_container9{
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.content1_container10{
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  position: relative;
  float: left;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_container11{
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_text7{
  font-size: 18px;
  line-height: 1.2 !important;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text8{
  font-size: 14px;
  color: rgb(130, 130, 130);
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content1_image1{
  width: 50px;
  position:relative;
  top:20px;
}

.content1_image2{
  width: 50px;
  position:relative;
  top:48px;
}

.content_container12{
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_text9{
  font-size: 18px;
  line-height: 1.2 !important;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text10{
  font-size: 14px;
  color: rgb(130, 130, 130);
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content1_container13{
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  position: relative;
  float: left;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_container11{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding:10px;
  position: relative;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_text11{
  font-size: 18px;
  line-height: 1.2 !important;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text12{
  font-size: 14px;
  color: rgb(130, 130, 130);
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_container14{
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
  display: block;
}

.content_text13{
  font-size: 18px;
  line-height: 1.2 !important;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content_text14{
  font-size: 14px;
  color: rgb(130, 130, 130);
  border-style: solid;
  border-color: #e5e7eb;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-sizing: border-box;
}

.content1_blank{
  display:block;
  width:90px;
  height:200px;
}

.content1_blank2{
  display:block;
  width:50px;
  height:200px;
  top:50px;
}