.body {
    background-color: #ECF9FF;
    display: flex;
    justify-content: center;
}

.container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    background-color: #FFFBEB;
}

.containerTop {
    display: flex;
    height: 650px;
    background-color: #FFE7CC;
}

.containerTopLeft {
    width: 512px;
    height: 650px;
    margin-right: 15px;
}

.bookImg {
    width: 512px;
    height: 650px;
}

.containerTopRight {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 650px;
    gap : 30px;
}

.like {
    width: 100px;
    height: 30px;
}

.containerBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.id {
    margin-right: 10px;
}

.button {
    padding: 2% 0 2% 3%;
}

.buttonQuantity {
    margin-bottom: 2%;

}

.buttonQuantityInput {
    height: 26px;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

.upDownButton {
    border: 1px solid #aaa;
    color: #3a60df;
    width: 35px;
    height: 25px;
    padding: 3px;
    background-color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin: 0 5px;
    border-radius: 5px;
}

.btnCart {
    display: inline-block;
    width: 140px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #F8CBA6;
    border: 1px solid #F8CBA6;
    color: black;
    font-weight: bold;
    margin-right: 2px;
    border-radius: 5px;
}

.reviewInput {
    width: 200px;
}

.btnBuy {
    display: inline-block;
    width: 140px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #7b8ed1;
    border: 1px solid #7b8ed1;
    color: #fff;
}

.containerBottom {
    display: flex;
    flex-direction: column;
}

.reviewInfo {
    background-color: #F8CBA6;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
}

.reviewTop {
    display: flex;
    gap: 10px;
}

.reviewBottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
