.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1024px;

}

.containerTop {
    display: flex;
    height: 650px;
}

.containerTopLeft {
    width: 512px;
    height: 650px;
}

.bookImg {
    width: 512px;
    height: 650px;
}

.containerTopRight {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 650px;
}

.containerBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.id{
    margin-right: 10px;
}