.containers {
    display: grid;
    place-items: center;
}

.container {
    width: 1250px;
}
  
.carousel.caption {
    padding: 20px;
}

.slideImage {
    overflow-clip-margin: content-box;
    overflow: clip;
    /* width: 100%;
    height: auto; */
}

.listContainers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.listContainer {
    padding-bottom: 29px;
}

@media (max-width: 1364px) {
    .listUl {
        margin-left: -14px;
    }
}

.listUl {
    margin-left: -15px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (max-width: 1364px) {
    .listLi {
        width: 222px;
        margin-left: 14px;
    }
}

.listLi {
    position: relative;
    width: 230px;
    margin: 0 0 15px 15px;
    float: left;
    border: 1px solid #d6dade;
    background-color: #fff;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    text-align: -webkit-match-parent;
}

.listA:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.listA {
    text-decoration: none;
}

.listDiv:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    border: 1px solid rgba(0,0,0,.1);
    content: "";
}

.listDiv {
    overflow: hidden;
    position: relative;
    height: 244px;
    margin: -1px;
    object-fit: cover;
}

.listImg {
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.listInfo {
    height: 169px;
    padding: 13px 14px 0;
}

.listTitle {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 23px;
    display: -webkit-box;
    max-height: 42px;
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
    color: #555;
    letter-spacing: -0.2px;
}

.listAupu {
    margin-top: 8px;
}

.listAuthor {
    line-height: 1.5;
    font-size: 18px;
}

.listPublisher {
    line-height: 1.5;
    font-size: 18px;
}

.listCategori {
    color: #4d5055;
    line-height: 1.5;
    font-size: 15px;
}

.listPay {
    font-weight: 700;
    line-height: 1.4;
    font-size: 21px;
}

.listJjim {
    position: relative;
    height: 50px;
    padding: 12px 52px 13px 12px;
    border-top: solid #f2f2f2;
    background-color: #f7f7f7;
    align-items: center; /* 수직 가운데 정렬 */
    color: #666;
    display: flex; /* Flexbox 레이아웃 사용 */
}

.button {
    position: absolute;
    top: 12px;
    right: 16px;
    height: 30px;
    color: #666;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

.Jjim {
    position: absolute;
    top: 12px;
    right: 16px;
    height: 30px;
    color: #666;
    border: none;
    background-color: transparent;
}

.btnimg {
    height : 30px;
    width: 30px;
    cursor: pointer;
    border: none;
}