.containers {
    max-width: 100%;
    display: block;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 4rem 0 5rem;
    }
}


.container {
    color: var(--seed-scale-color-gray-900);
    padding: 3.5rem 0 1rem;
    display: block;
}
