@media screen and (min-width: 768px) {
    .content5_containers:not(:last-child) {
        margin-bottom: 3.5rem;
    }
}

.content5_containers:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    .content5_containers {
        padding: 0;
    }
}

.content5_containers {
    background-color: var(--seed-semantic-color-paper-default);
    color: var(--seed-scale-color-gray-900);
    padding: 0 1rem 1.25rem;
    display: block;
}

@media screen and (min-width: 768px) {
    .content5_title {
        line-height: 1.3;
        font-size: 1.25rem;
        letter-spacing: -2%;
    }
}

.content5_title {
    font-weight: 700;
    line-height: 1.36;
    font-size: 20px;
    padding: 1rem 0;
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

@media screen and (min-width: 768px) {
    .content5_content {
        line-height: 1.32;
        font-size: 1.125rem;
        letter-spacing: -1%;
    }
}

.content5_content {
    line-height: 1.36;
    font-size: 18px;
    white-space: pre-wrap;
    word-break: break-word;
    overflow: hidden;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}