@media screen and (min-width: 768px){
    .content1_containers {
        height: 19.6875rem;
    }
}


.content1_containers{
    position: relative;
    width: 100%;
    height: 18.375rem;
    background: #D2EDFA;
    overflow: hidden;
    display: block;
}

@media screen and (min-width: 768px){
    .content1_container1 {
        padding: 3rem 1rem 0;
    }
}

.content1_container1{
    color: var(--seed-scale-color-gray-900);
    margin: 0 auto;
    max-width: 48rem;
    padding: 1.5rem 1rem 0;
    overflow: hidden;
    display: block;
}

.content1_titleContainer {
    color: var(--seed-scale-color-gray-900);
    margin: 0 auto;
    max-width: 48rem;
    padding: 1.5rem 1rem 0;
    overflow: hidden;
    display: block;
}

@media screen and (min-width: 768px){
    .content1_title1 {
        line-height: 1.5;
        font-size: 2rem;
        letter-spacing: -1%;
    }
}


.content1_title1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.8rem;
    color: var(--seed-static-color-static-gray-900);
}

@media screen and (min-width: 768px){
    .content1_title2 {
        line-height: 1.32;
        font-size: 1.125rem;
        letter-spacing: -1%;
        display: block;
        margin: 1rem 0 0;
        color: var(--seed-static-color-static-gray-900);
    }
}

.content1_title2 {
    line-height: 1.4;
    font-size: .875rem;
    display: none;
}

@media screen and (min-width: 768px) {
    .content1_titleContainer2 {
        left: 50%;
        right: 0;
        width: 40rem;
        height: 16.25rem;
        transform: translateX(0);
    }
}

.content1_titleContainer2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 29.3125rem;
    height: 12.625rem;
    transform: translateX(-10%);
    display: block;
}

.content1_titleimageSpan{
    box-sizing: border-box;
    display: block;
    /* overflow: hidden; */
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content1_titleimage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 603px;
    height: 230px;
    /* min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%; */
    object-fit: contain;
    opacity: 1;
    transition: .2s;
    overflow-clip-margin: content-box;
    overflow: clip;
}
